<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>No Bullshit Simpsons</title></head>
<body style="color: rgb(0, 0, 0); background-color: rgb(255, 225, 26);" alink="#000099" link="#000099" vlink="#990099">
<div style="text-align: center;"><font size="+3"><span style="font-family: Simpsonfont; color: rgb(0, 153, 0);">NO
bullshit simpsons</span></font><span style="font-family: Simpsonfont;"></span></div>
<div style="text-align: center;"><span style="font-family: Simpsonfont;"><font size="-1"><font size="-2">
NO ADS! NO POPUPS! NO TRACKERS! NO bullShit!</font><br>
</font></span></div>
<div style="text-align: center;"><font size="-1"><span style="font-family: Simpsonfont;"><br>
Seasons &nbsp; <a href="/seasons/1">1</a>
&nbsp;<a href="/seasons/2">2</a>&nbsp; <a href="/seasons/3">3 </a>&nbsp;<a href="/seasons/4">4</a> <a href="/seasons/5">&nbsp;5</a>&nbsp;<a href="/seasons/6"> 6</a>&nbsp;<a href="/seasons/7"> 7</a>
<a href="/seasons/8">&nbsp;8</a> <a href="/seasons/9">&nbsp;9 </a><a href="/seasons/10">&nbsp;10</a>&nbsp; <a href="/seasons/11">11</a> &nbsp;<a href="/seasons/12">12</a>
&nbsp;<a href="/seasons/13">13</a> &nbsp;<a href="/seasons/14">14&nbsp;</a> <a href="/seasons/15">15</a> &nbsp;<a href="/seasons/16">16</a>&nbsp; <a href="/seasons/17">17</a>
&nbsp;<a href="/seasons/18">18</a> &nbsp;<a href="/seasons/19">19 </a>&nbsp;<a href="/seasons/20">20</a> &nbsp;<a href="/seasons/21">21</a> &nbsp;<a href="/seasons/22">22</a>
&nbsp;<a href="/seasons/23">23</a> &nbsp;<a href="/seasons/24">24</a> &nbsp;<a href="/seasons/25">25 </a>&nbsp;<a href="/seasons/26">26</a> &nbsp;<a href="/seasons/27">27</a></span></font></div>
{% block content %}{% endblock %}
</body></html>